.side-area {
  background-color: $litegray;
  padding: 20px;
  width: 20%;

  #suggestions {

    .recommend {
      li {
        margin: 20px 0;
        display: flex;
        img {
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
        .info {
          padding-left: 10px;
        }
      }
    }
  }

}
